<!DOCTYPE html>
<html lang="en">

<body>

<script type="text/javascript" th:fragment="javascript">


    function handleBuyButtonClick(button) {
        // Obtener datos del botón
        var productId = button.getAttribute('data-id');
        var productTitle = button.getAttribute('data-title');
        var productPrice = button.getAttribute('data-price');

        // Obtener el valor actual de la cookie
        var existingCookie = getCookie(cookieName);

        // Parsear la cookie existente o inicializar un array vacío
        var existingProducts = existingCookie ? JSON.parse(existingCookie) : [];

        // Asegurarse de que existingProducts sea un array
        if (!Array.isArray(existingProducts)) {
            existingProducts = [];
        }

        // Verificar si el producto ya está en la cookie
        var existingProductIndex = existingProducts.findIndex(function (product) {
            return product.id === productId;
        });

        if (existingProductIndex !== -1) {
            // Incrementar la cantidad si el producto ya existe
            existingProducts[existingProductIndex].amount++;
        } else {
            // Agregar nuevo producto con cantidad 1
            existingProducts.push({ id: productId, title: productTitle, price: productPrice, amount: 1 });
        }

        // Convertir el array a JSON y establecer la cookie
        document.cookie = `${cookieName}=${JSON.stringify(existingProducts)}; max-age=${durationInSeconds}; path=/`;
    }

    // Nombre de la cookie que deseas verificar
    var cookieName = 'productInfo';

    // Duración de la cookie en segundos (3.8 horas)
    var durationInSeconds = 3.8 * 60 * 60;

    function getCookie(name) {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.indexOf(name + '=') === 0) {
                return cookie.substring(name.length + 1, cookie.length);
            }
        }
        return null;
    }

    // Nombre de la cookie que deseas verificar
    var cookieName = 'productInfo';

    // Obtener el valor de la cookie
    var cookieValue = getCookie(cookieName);

    // Verificar si la cookie existe
    if (cookieValue) {
        // Decodificar el valor de la cookie (asumiendo que contiene JSON)
        var decodedValue = decodeURIComponent(cookieValue);

        try {
            // Parsear el JSON
            var cookieData = JSON.parse(decodedValue);

            // Mostrar los datos en la consola
            console.log('Datos de la cookie:', cookieData);
        } catch (error) {
            console.error('Error al parsear JSON:', error);
        }
    } else {
        console.log('La cookie no existe o está vacía.');
    }



    $(document).ready(function () {

        loadStoredProducts();

        $("#search_product").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "/order/load-products/" + request.term,
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                value: item.id,
                                label: item.title,
                                price: item.price,
                            }
                        }));
                    },
                });
            },

            select: function (event, ui) {

                if (itemsHelper.hasProduct(ui.item.value)) {
                    itemsHelper.addAmount(ui.item.value, ui.item.price);
                    return false;
                }

                var line = $("#itemsLineTable").html();

                line = line.replace(/{ID}/g, ui.item.value);
                line = line.replace(/{TITLE}/g, ui.item.label);
                line = line.replace(/{PRICE}/g, ui.item.price);

                $("#itemTable tbody").append(line);

                itemsHelper.importCalc(ui.item.value, ui.item.price, 1);

                storeProductLocally(ui.item.value, ui.item.label, ui.item.price, 1);

                return false;
            }

        });


        $("form").submit(function () {
            $("#itemsLineTable").remove();
            return;
        });

    });





    var itemsHelper = {

        importCalc: function (id, price, amount) {
            var total = parseFloat(price) * parseFloat(amount);

            total = parseFloat(total.toFixed(2));

            $("#total_" + id).html(total);
            this.totalImportCalc();

            // Puedes usar 'total' en otros cálculos aquí
        },

        hasProduct: function (id) {

            var result = false;

            $('input[name="item_id[]"]').each(function () {
                if (parseInt(id) === parseInt($(this).val())) {
                    result = true;
                }
            });

            return result;
        },

        addAmount: function (id, price) {

            var amount = $("#amount_" + id).val() ? parseInt($("#amount_" + id).val()) : 0;
            $("#amount_" + id).val(++amount);

            this.importCalc(id, price, amount);

        },


        deleteItemLine: function (id) {
            $("#row_" + id).remove();
            this.totalImportCalc();
            deleteProductLocally(id);

        },

        totalImportCalc: function () {

            var total = 0;

            $('span[id^="total_"]').each(function () {

                total += parseFloat($(this).html());
            });

            total = total.toFixed(2);

            $('#gran_total').html(total);

        }


    }

    function loadStoredProducts() {
        // Obtener los productos de la cookie y convertirlos a un array
        var cookieProducts = getCookieProducts();

        // Obtener los productos almacenados en el localStorage y convertirlos a un array
        var localStorageProducts = getLocalStorageProducts();

        // Combinar los productos de la cookie y del localStorage
        var allProducts = combineProducts(cookieProducts, localStorageProducts);

        // Agregar productos almacenados a la tabla
        $.each(allProducts, function (index, product) {
            var line = $("#itemsLineTable").html();

            line = line.replace(/{ID}/g, product.id);
            line = line.replace(/{TITLE}/g, product.title);
            line = line.replace(/{PRICE}/g, product.price);

            // Añadir la cantidad al HTML
            line = line.replace(/{AMOUNT}/g, product.amount);

            $("#itemTable tbody").append(line);

            // Ejecutar importCalc con la cantidad almacenada
            itemsHelper.importCalc(product.id, product.price, product.amount);
        });
    }

    // Función para obtener los productos de la cookie
    function getCookieProducts() {
        var cookieData = getCookie('productInfo');
        return cookieData ? JSON.parse(cookieData) : [];
    }

    // Función para obtener los productos del localStorage
    function getLocalStorageProducts() {
        var localStorageData = localStorage.getItem('storedProducts');
        return localStorageData ? JSON.parse(localStorageData) : [];
    }

    // Función para combinar los productos de la cookie y del localStorage
    function combineProducts(cookieProducts, localStorageProducts) {
        // Puedes ajustar cómo combinas los productos según tus necesidades
        return cookieProducts.concat(localStorageProducts);
    }



    function storeProductLocally(id, title, price, amount) {
        var storedProducts = localStorage.getItem('storedProducts') || '[]';
        storedProducts = JSON.parse(storedProducts);

        // Verificar si el producto ya está almacenado
        var existingProductIndex = storedProducts.findIndex(function (product) {
            return product.id === id;
        });

        if (existingProductIndex !== -1) {
            // Incrementar la cantidad si el producto ya existe
            storedProducts[existingProductIndex].amount += amount;
        } else {
            // Agregar nuevo producto
            storedProducts.push({ id: id, title: title, price: price, amount: amount });
        }

        // Guardar en el localStorage
        localStorage.setItem('storedProducts', JSON.stringify(storedProducts));
    }

    function deleteProductLocally(id) {
        var storedProducts = localStorage.getItem('storedProducts') || '[]';
        storedProducts = JSON.parse(storedProducts);

        // Encontrar el índice del producto en el arreglo almacenado
        var existingProductIndex = storedProducts.findIndex(function (product) {
            return product.id === id;
        });

        if (existingProductIndex !== -1) {
            // Eliminar el producto del arreglo
            storedProducts.splice(existingProductIndex, 1);

            // Actualizar el localStorage
            localStorage.setItem('storedProducts', JSON.stringify(storedProducts));
        }
    }




</script>


<!--itemsHelper es un objeto con algunos metodos de ayuda, como calcular el total
 eliminar una linea de la factura, incrementar la cantidad cada vez que se
 crea una linea etc -->

<!-- el metodo hasProduct se encarga de buscar item por item en la linea de factura
 para ver si hay un repetido y asi incrementar la cantidad y no ponerlo 2 veces-->

<!-- el metodo addAmount, incrementa la cantidad de un producto si es encontrado
1. validamos si la cantidad contiene un valor numerico, seria el id que pasamos por parametro y
si tiene cantidad se pasa a integer y se la asignamos a la variable cantidad, si no retornamos un 0-->

<!-- en la linea 98 asignamos el gran total al span de la linea del html correspondiente para que se
pueda iterar y calcular el importe total-->

<!--La linea 57 ("form") es muy importante porque hace que una vez la factura este guardada
y queramos verla no se guarden las lineas de id y de cantidad, que dará error pq chocan,
lo que hace es eliminar el t-body del products-lines y así se muestra tal cual-->



</body>
</html>