<!DOCTYPE html>
<html lang="en">

<body>

<script type="text/javascript" th:fragment="localStorage">
    function cleanStorage() {
        localStorage.removeItem('storedProducts');
        clearCookie('productInfo');
    }
    function clearCookie(cookieName) {
        document.cookie = `${cookieName}=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/`;
    }
</script>


<script type="text/javascript" th:fragment="paymentMethods">
    $(document).ready(function () {
        $('input[name="paymentMethod.type"]').change(function () {
            if ($(this).val() === 'By card') {
                $('#paymentDetailsContainer').show();
            } else {
                $('#paymentDetailsContainer').hide();
            }
        });
    });
</script>


</body>
</html>