<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
  <div class="card bg-dark text-white">
    <div class="card-header" th:text="${title}"></div>
    <div class="card-body">

        <h3>Your products have been saved into the dataBase :)</h3>
        <br>

        <div class="form-group row">
            <div class="col-sm-6">
                <a th:text="'Products List'" class="btn btn-light btn-xs" th:href="@{/productsList}"></a>
            </div>
        </div>

    </div>
  </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>