<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="container py-4">

    <div class="card bg-dark text-white">
        <div class="card-header" th:text="${title}"></div>

        <div class="card-body custom-card-body">

            <div>
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success" th:href="@{/createProduct}" th:text="'Create'"></a>
            </div>

            <br>

            <form class="form-group" th:action="@{/productsList}">
                <div class="row">

                    <label for="term" class="col-sm-2 col-form-label" th:text="'Search Product'"></label>

                    <div class="col-sm-4">
                        <input type="text" name="term" id="term" class="form-control"
                               th:value="${term}"/>
                    </div>

                    <div class="col-sm-3">
                        <input type="submit" class="btn btn-info" value="Search">
                        <input type="button" class="btn btn-secondary" value="Clear" onclick="clearTerms()">
                    </div>

                </div>
            </form>
            <br>


            <div class="card-deck">
                <div th:each="product: ${products}" class="card mb-3">

                    <img th:if="${product.photo != null}"
                         class="card-img-top"
                         th:src="@{'/uploads/' + ${product.photo}}"
                         th:alt="${product.photo}" style="object-fit: cover; height: 200px;">

                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.title}"></h5>
                        <p class="card-text">
                            <strong th:if="${product.price != null}">Price:</strong> <span th:if="${product.price != null}" th:text="${product.price} + '€'"></span><br>
                            <strong th:if="${product.brand != null}">Brand:</strong> <span th:if="${product.brand != null}" th:text="${product.brand}"></span><br>
                            <strong th:if="${product.color != null}">Color:</strong> <span th:if="${product.color != null}" th:text="${product.color}"></span><br>
                            <strong th:if="${product.weight != null}">Weight:</strong> <span th:if="${product.weight != null}" th:text="${product.weight}"></span><br>
                            <strong th:if="${product.volume != null}">Volume:</strong> <span th:if="${product.volume != null}" th:text="${product.volume}"></span><br>
                            <strong sec:authorize="hasRole('ROLE_ADMIN')">Date:</strong> <span sec:authorize="hasRole('ROLE_ADMIN')" th:text="${product.date}"></span><br>
                            <strong sec:authorize="hasRole('ROLE_ADMIN')">Stock:</strong> <span sec:authorize="hasRole('ROLE_ADMIN')" th:text="${product.stock}"></span><br>
                            <strong th:if="${product.category != null}">Category:</strong> <span th:if="${product.category != null}" th:text="${product.category.name}"></span><br>

                            <br>

                        </p>

                        <button class="buyButton btn-info" type="button"
                                th:data-id="${product.id}"
                                th:data-title="${product.title}"
                                th:data-price="${product.price}"
                                onclick="handleBuyButtonClick(this)"
                                sec:authorize="isAnonymous() or hasRole('ROLE_USER')">
                            Add to Cart
                        </button>

                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-secondary btn-sm" th:href="@{/editProduct/} + ${product.id}" th:text="'Edit'"></a>

                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger btn-sm" th:href="@{/deleteProduct/} + ${product.id}"
                           th:text="'Delete'" onclick="return confirm('Are you sure do you want to delete this product? ' +
                    'If this product is associated with an order, its status will be changed to removed, but it will persist in the database.')"></a>
                    </div>
                </div>
            </div>

            <nav th:replace="layout/paginator_nav :: paginator"></nav>
        </div>

    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>

<script th:replace="product/js/clearFilter :: clearFilter"></script>
<script th:replace="order/js/autocomplete-products :: javascript"></script>


</body>
</html>