<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <div class="card bg-light">
        <div class="card-header bg-dark text-white" th:text="${title}"></div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped  border border-secondary">
                        <thead class="thead-inverse">
                        <tr>
                            <th colspan="1">Weekly Revenue</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td th:text="${weeklyRevenue}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <div class="col-md-6">

                    <table class="table table-striped  border border-secondary">

                        <thead class="thead-inverse">
                        <tr>
                            <th colspan="1">Monthly Revenue</th>
                        </tr>
                        </thead>
                        <tr>
                            <td th:text="${monthlyRevenue}"></td>
                        </tr>

                    </table>

                </div>

            </div>

            <br>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <canvas id="monthlyRevenueChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <br>


            <div class="row">
                <div class="col-md-12">

                    <table class="table table-striped  border border-secondary">
                        <thead class="thead-inverse">
                        <tr>
                            <th class="bg-dark text-white" colspan="4">TOP 10 CUSTOMERS</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                            <th>Total-Spent</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="customer: ${users}">

                            <td th:text="${customer.name}"></td>
                            <td th:text="${customer.surname}"></td>
                            <td th:text="${customer.email}"></td>
                            <td th:text="${customer.totalSpent}"></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <br>


            <div class="row">
                <div class="col-md-12">


                    <table class="table table-striped  border border-secondary">
                        <thead class="thead-inverse">
                        <tr>
                            <th class="bg-dark text-white" colspan="3">TOP 10 PRODUCTS</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Sales</th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="product: ${products}">

                            <td th:text="${product.title}"></td>
                            <td th:text="${product.price}"></td>
                            <td th:text="${product.totalSales}"></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
<br>

<footer th:replace="layout/layout :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('monthlyRevenueChart').getContext('2d');

        /* Obtén los datos mensuales de ingresos desde el modelo de Thymeleaf */
        var monthlyData = /*[[${monthlyRevenueData}]]*/ {};

        var labels = Object.keys(monthlyData);
        var data = Object.values(monthlyData);

        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Monthly Revenue',
                    data: data,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
    /*]]>*/
</script>


</body>
</html>