<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">

            <h4 class="card-title">
                <a th:text="'Back'" class="btn btn-light btn-xs" th:href="@{/order/ordersList}"></a>
            </h4>

            <ul class="list-group my-2">
                <li class="list-group-item list-group-item-primary" th:text="'User details'"></li>
                <li class="list-group-item" th:text="${order.user}"></li>
                <li class="list-group-item" th:text="${order.user.email}"></li>
            </ul>

            <ul class="list-group my-2">
                <li class="list-group-item list-group-item-success" th:text="'Order details'"></li>
                <li class="list-group-item" th:text="'Order: ' + ${order.id}"></li>
                <li class="list-group-item" th:text="'Description: ' + ${order.description}"></li>
                <li class="list-group-item" th:text="'Date: ' + ${order.date}"></li>
                <li class="list-group-item" th:text="'Order Status: ' + ${order.deliveryMethod}"></li>
                <li class="list-group-item" th:text="'Payment Method: ' + ${order.paymentMethod.type}"></li>
            </ul>

            <ul class="list-group my-2">
                <li class="list-group-item list-group-item-secondary" th:text="'Order Status'"></li>
                <li class="list-group-item" th:text="${order.orderStatus}"
                    th:if="${ not #strings.isEmpty(order.orderStatus)}">
                    <h4 class="card-title" th:if="${#strings.isEmpty(order.orderStatus)}"
                        th:text="'The order has not been processed yet'"></h4></li>
            </ul>

            <form th:action="@{/order/saveOrderDetails} " th:object="${order}" method="post">

                <div class="card bg-dark text-white">
                    <div class="card-header">Edit order status</div>
                    <div class="card-body">
                        <h4 class="card-title">Change Order Status</h4>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" th:text="'Order Status'"></label>
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" th:field="*{orderStatus}"
                                           value="Pending payment" id="pendingpayment">
                                    <label class="form-check-label" for="pendingpayment">Pending Payment</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" th:field="*{orderStatus}"
                                           value="Pending shipment" id="pendingshipment">
                                    <label class="form-check-label" for="pendingshipment">Pending Shipment</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" th:field="*{orderStatus}"
                                           value="Shipped" id="shipped">
                                    <label class="form-check-label" for="shipped">Shipped</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" th:field="*{orderStatus}"
                                           value="Delivered" id="delivered">
                                    <label class="form-check-label" for="delivered">Delivered</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" class="btn btn-light btn-xs" th:value="'Add'">
                            </div>
                        </div>

                    </div>
                </div>


                <ul class="list-group my-2">
                    <li class="list-group-item list-group-item-secondary" th:text="'Payment Status'"></li>
                    <li class="list-group-item" th:text="${order.paymentStatus}"
                        th:if="${ not #strings.isEmpty(order.paymentStatus)}">
                        <h4 class="card-title" th:if="${#strings.isEmpty(order.paymentStatus)}"
                            th:text="'The order has not been processed yet'"></h4></li>
                </ul>

                <div class="card bg-dark text-white">
                    <div class="card-header">Edit Payment Status</div>
                    <div class="card-body">
                        <h4 class="card-title">Change Payment Status</h4>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" th:text="'Payment Status'"></label>
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" th:field="*{paymentStatus}"
                                           value="Pending"
                                           id="pending">
                                    <label class="form-check-label" for="pending">Pending</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" th:field="*{paymentStatus}"
                                           value="Paid"
                                           id="paid">
                                    <label class="form-check-label" for="paid">Paid</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" class="btn btn-light btn-xs" th:value="'Add'">
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" th:field="*{id}">

            </form>

        </div>
    </div>


    <div class="alert alert-info my-4" th:if="${#lists.isEmpty(order.receiptLines)}"
         th:text="'There are no receipt lines'"></div>

    <table class="table table-striped table-hover table-bordered my-4"
           th:if="${not  #lists.isEmpty(order.receiptLines)}">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="line: ${order.receiptLines}">
            <td th:text="${line.product.title}"></td>
            <td th:text="${line.product.price}"></td>
            <td th:text="${line.amount}"></td>
            <td th:text="${line.importCalc()}"></td>
        </tr>
        </tbody>
    </table>

    <h5 class="float-right">Total: <span th:text="${order.total}" class="badge badge-secondary"></span>
    </h5>

    <div class="card border-info mb-4" style="max-width: 20rem;">
        <div class="card-header">Observations</div>
        <div class="card-body">
            <p class="card-text" th:text="${order.description}"
               th:if="${ not #strings.isEmpty(order.description)}"></p>
            <h4 class="card-title" th:if="${#strings.isEmpty(order.description)}"
                th:text="'There is no observations'"></h4>
        </div>
    </div>
</div>
</div>
</div>


</div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>