<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
  <div class="card bg-dark text-white">
    <div class="card-header" th:text="${title}"></div>
    <div class="card-body">
      <h4 class="card-title"></h4>

      <div class="form-group row">
        <div class="col-sm-6">
          <a th:text="'Back'" class="btn btn-light btn-xs" th:href="@{/product/productsList}"></a>
        </div>
      </div>

      <br>

        <div class="form-group row">
          <label for="search_product" class="col-sm-2 col-form-label" th:text="'Search Product'"></label>
          <div class="col-sm-6">
            <input type="text" name="search_product" id="search_product" class="form-control"/>
          </div>
        </div>

        <table th:replace="order/products-lines :: productsLines"></table>

        <table id="itemTable"
               class="table table-sm table-striped table-hover">

          <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total</th>
            <th>Delete</th>

          </tr>
          </thead>

          <tbody>

          </tbody>

        </table>

        <br>
        <h5>TOTAL: <span class="badge badge-secondary" id="gran_total">0</span></h5>

        <br>

        <div class="form-group row">
          <div class="col-sm-6">
            <a href="/api/login" class="btn btn-light btn-xs">Add</a>
          </div>
        </div>

    </div>
  </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
<script th:replace="order/js/autocomplete-products :: javascript"></script>


</body>
</html>