<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="'SCR '"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>


</head>
<body>

<header th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SCR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/mainPage}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/productsList}">Products</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/list}">Clients List</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/order/ordersList}">Orders List</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/sales/top10Products}">Sales Statistics</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/category/categoryList}">Edit Categories</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/uploadFileForm}">Import products from JSON</a>
                    </li>


                </ul>

                <ul class="navbar-nav ml-auto navbar-right">
                    <li sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-light" th:href="@{/api/login}">Sign In</a>
                    </li>
                    <br>

                    <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                        <a class="nav-link" th:href="@{/getId}">Profile</a>
                    </li>
                    <br>

                    <li sec:authorize="!hasRole('ROLE_ADMIN')">

                        <div class="nav-item">
                            <a class="nav-link" th:href="@{/order/receiptControl}">Shopping cart</a>
                        </div>

                    </li>

                    <br>

                    <li sec:authorize="isAuthenticated()" class="dropdown">

                        <a class="btn btn-outline-light dropdown-toggle" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span sec:authentication="name"></span>
                        </a>

                        <div class="dropdown-menu">
                            <form id="logout" th:action="@{/logout}" method="post">
                                <button class="dropdown-item" type="submit">Sign out</button>
                            </form>
                        </div>
                    </li>

                    <br>

                    <script>

                        var logoutElement = document.getElementById('logout');

                        if (logoutElement) {
                            logoutElement.addEventListener('submit', function(event) {
                                // Prevenir el envío del formulario para dar tiempo a ejecutar la función logout()
                                event.preventDefault();

                                // Llamar a la función logout()
                                logout();

                                // Enviar el formulario después de ejecutar la función logout()
                                this.submit();
                            });
                        } else {
                            console.warn("Element with ID 'logout' not found. Event listener not added.");
                        }

                        function logout() {
                            // Borrar el token almacenado (puede ser en localStorage, sessionStorage, o cookies)
                            localStorage.removeItem('jwtToken');

                            //Limpiar productos almacenados
                            localStorage.removeItem('storedProducts');

                            clearCookie('productInfo');

                            // Redirigir al usuario a la página de inicio de sesión u otra página deseada
                            window.location.replace('/login');
                        }

                        function clearCookie(cookieName) {
                            document.cookie = `${cookieName}=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/`;
                        }

                    </script>

                </ul>
            </div>
        </div>
    </nav>

    <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
    <div class="alert alert-danger" th:if="${danger != null}" th:text="${error}"></div>
    <div class="alert alert-warming" th:if="${warming != null}" th:text="${warming}"></div>
    <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>


</header>


<footer th:fragment="footer">

    <div class="container-fluid bg-dark container-dark container-expand-lg">

        <div class="row justify-content-center">

            <div class="col-md-12 text-center"><br>

                <h2 class="footer-heading"><a class="text-white" th:href="@{/mainPage}">SCR</a></h2>
                <p class="menu">

            </div>

            <div class="col-md-12 text-center">
                <p class="copyright text-white">
                    Copyright 2023 All rights reserved. SCR</a>
                </p>
            </div>

        </div>
    </div>

    <!-- JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>

    <!-- Agrega el enlace al archivo de script de Bootstrap y Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</footer>


</body>
</html>