<!DOCTYPE html>
<html lang="en">

<body>

<script type="text/javascript" th:fragment="addresses">

    function addAddress() {
        var container = document.getElementById('addresses-container');
        var newAddressDiv = document.createElement('div');
        newAddressDiv.classList.add('address');

        newAddressDiv.innerHTML = `
            <div class="form-group">
                <label class="col-sm-6 col-form-label">Country</label>
                <div class="col-sm-6">
                    <input type="text"  th:field="*{country}" name="clientsAddress[0].country" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 col-form-label">City</label>
                <div class="col-sm-6">
                    <input type="text" name="clientsAddress[0].city" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 col-form-label">Postal Code</label>
                <div class="col-sm-6">
                    <input type="text" name="clientsAddress[0].postalCode" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 col-form-label">Street</label>
                <div class="col-sm-6">
                    <input type="text" name="clientsAddress[0].street" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 col-form-label">Home</label>
                <div class="col-sm-6">
                    <input type="text" name="clientsAddress[0].home" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 col-form-label">Apartment</label>
                <div class="col-sm-6">
                    <input type="text" name="clientsAddress[0].apartment" class="form-control" required>
                </div>
            </div>


            <button type="button" onclick="removeAddress(this)">Delete</button>
        `;

        container.appendChild(newAddressDiv);
    }

    function removeAddress(button) {
        var addressDiv = button.parentElement;
        addressDiv.remove();
    }

</script>


</body>
</html>