<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <img src="/images/background6.jpg" alt="background2" class="img-fluid">
        </div>

        <div class="col-md-6">
            <div class="card border-dark">
                <div class="card-header">Change the Password</div>
                <div class="card-body">
                    <form th:action="@{/change-password}" method="post" th:object="${currentUser}"
                          class="d-flex flex-column align-items-center">

                        <div class="form-group">
                            <label for="oldPassword">Actual Password:</label>
                            <input type="password" id="oldPassword" name="oldPassword" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="newPassword">New password:</label>
                            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary">Change Password</button>
                        </div>

                        <input type="hidden" th:field="*{id}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<footer th:replace="layout/layout :: footer"></footer>


</body>


</html>