<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-dark text-white">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">

            <table class="table table-striped  border border-success">

                <h4 class="card-title">
                    <a class="btn btn-success btn-xs" th:text="'View shopping cart'"
                       th:href="@{/order/receipt/} + ${user.id}"></a></td>
                </h4>

                <tbody>

                <ul class="list-group">
                    <li class="list-group-item" th:text="${user.name}"></li>
                    <li class="list-group-item" th:text="${user.surname}"></li>
                    <li class="list-group-item" th:text="${user.email}"></li>
                    <li class="list-group-item" th:text="${user.birthdate}"></li>
                    <li class="list-group-item" th:text="${user.pass}"></li>
                    <li class="list-group-item">
                        <ul class="list-group" th:each="role : ${user.roles}" th:text="${role.name}"></ul>
                    </li>
                </ul>
                </tbody>

                <br>

                <thead class="thead-dark">
                <tr>
                    <th>country</th>
                    <th>city</th>
                    <th>postal_code</th>
                    <th>street</th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="address: ${user.clientsAddresses}">
                        <td th:text="${address.country}"></td>
                        <td th:text="${address.city}"></td>
                        <td th:text="${address.postal_code}"></td>
                        <td th:text="${address.street}"></td>
                    </tr>
                </tbody>


                <br>

                <a class="btn btn-secondary btn-sm" th:href="@{/view/} + ${user.id}" th:text="'Edit'"></a>

                <br>


            </table>


            <div th:if="${#lists.isEmpty(user.orders)}" class="alert alert-info my-4"
                 th:text="'There is no orders for this client'"></div>

            <table th:if="${not #lists.isEmpty(user.orders)}"
                   class="table table-bordered table-striped my-4">

                <thead class="thead-dark">
                <tr>
                    <th>File</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Order Status</th>
                    <th>Total</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="order: ${user.orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.description}"></td>
                    <td th:text="${order.date}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td th:text="${order.total}"></td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>