<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-dark text-white">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">

            <form th:action="@{/save}" th:object="${user}" method="post" enctype="multipart/form-data">

                <div class="row">

                    <div class="col-md-6">

                        <div class="card d-flex justify-content-center h-100">
                            <div class="card-header" th:text="'User'"></div>
                            <div class="card-body align-items-center">

                                <div class="form-group">
                                    <label class="col-sm-6 col-form-label">Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{name}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-6 col-form-label">Surname</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{surname}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-6 col-form-label">Email</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{email}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-6 col-form-label">BirthDate</label>
                                    <div class="col-sm-6">
                                        <input type="date" th:field="*{birthdate}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-6 col-form-label">Password</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{pass}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <br>

                                <div class="form-group">
                                    <label for="roles">Select a rol:</label>
                                    <select name="roles" id="roles">
                                        <option th:each="role : ${roles}" th:value="${role.id}"
                                                th:text="${role.name}"></option>
                                    </select>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="card d-flex justify-content-center h-100">

                            <div class="card-header" th:text="'Address'"></div>
                            <div class="card-body align-items-center">

                                <div class="col-m-6 form-group">
                                    <label class="col-sm-6 col-form-label">Country</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="${clientsAddress.country}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="col-m-6 form-group">
                                    <label class="col-sm-6 col-form-label">City</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="${clientsAddress.city}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="col-m-6 form-group">
                                    <label class="col-sm-6 col-form-label">Postal Code</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="${clientsAddress.postal_code}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="col-m-6 form-group">
                                    <label class="col-sm-6 col-form-label">Street</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="${clientsAddress.street}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="col-m-6 form-group">
                                    <label class="col-sm-6 col-form-label">Home</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="${clientsAddress.home}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="col-m-6 form-group">
                                    <label class="col-sm-6 col-form-label">Apartment</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="${clientsAddress.apartment}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <br>

                                <button type="button" onclick="addAddress()">Add Direction</button>

                            </div>
                        </div>
                    </div>

                </div>

                <br>

                <div class="row form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Save" class="btn btn-secondary"/>
                    </div>
                </div>


                <input type="hidden" th:field="*{id}">
            </form>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>