<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-dark text-white">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">

            <form th:action="@{/save}" th:object="${user}" method="post" enctype="multipart/form-data">

                <div class="row">

                    <div class="col-md-6">

                        <div class="card d-flex justify-content-center h-100">
                            <div class="card-header" th:text="'User'"></div>
                            <div class="card-body align-items-center">

                                <div class="form-group">
                                    <label class="col-sm-6 col-form-label">Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{name}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-6 col-form-label">Surname</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{surname}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-6 col-form-label">Email</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{email}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-6 col-form-label">BirthDate</label>
                                    <div class="col-sm-6">
                                        <input type="date" th:field="*{birthdate}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-6 col-form-label">Password</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{pass}"
                                               th:errorclass="'form-control alert-danger'"/>
                                    </div>
                                </div>

                                <br>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="card d-flex justify-content-center h-100">

                            <div class="card-header" th:text="'Photo'"></div>

                            <div class="card-body align-items-center">
                                <div class="form-group">
                                    <input type="file" name="file" class="form-control"/>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

                <br>

                <div class="row form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Save" class="btn btn-secondary"/>
                    </div>
                </div>


                <input type="hidden" th:field="*{id}">

            </form>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>