<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

  <div class="card bg-danger text-black-50">
    <div class="card-header">Error: Entity not found</div>
    <div class="card-body">
      <h5 class="card-title">Sorry <span th:text="${#authentication.name}"></span>, the entity is not found</h5>
      <a th:href="@{/order/ordersList}" class="btn btn-outline-light" role="button">Back</a>

    </div>
  </div>


</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>