.carousel-inner img {
    max-width: 40%;
    height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
}

.carousel-control-prev {
    font-size: 70px;
}

.user-info {
    margin-bottom: 10px;
}

.user-label {
    font-weight: bold;
    width: 120px;
    display: inline-block;
}

.user-value {
    margin-left: 10px;
}