<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">



</div>

<footer th:replace="layout/layout :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>
</html>


<div class="col-m-6 form-group">
    <label class="col-sm-6 col-form-label">Country</label>
    <div class="col-sm-6">
        <input type="text" th:field="${clientsAddress.country}"
               th:errorclass="'form-control alert-danger'"/>
    </div>
</div>

<div class="col-m-6 form-group">
    <label class="col-sm-6 col-form-label">City</label>
    <div class="col-sm-6">
        <input type="text" th:field="${clientsAddress.city}"
               th:errorclass="'form-control alert-danger'"/>
    </div>
</div>

<div class="col-m-6 form-group">
    <label class="col-sm-6 col-form-label">Postal Code</label>
    <div class="col-sm-6">
        <input type="text" th:field="${clientsAddress.postal_code}"
               th:errorclass="'form-control alert-danger'"/>
    </div>
</div>

<div class="col-m-6 form-group">
    <label class="col-sm-6 col-form-label">Street</label>
    <div class="col-sm-6">
        <input type="text" th:field="${clientsAddress.street}"
               th:errorclass="'form-control alert-danger'"/>
    </div>
</div>

<div class="col-m-6 form-group">
    <label class="col-sm-6 col-form-label">Home</label>
    <div class="col-sm-6">
        <input type="text" th:field="${clientsAddress.home}"
               th:errorclass="'form-control alert-danger'"/>
    </div>
</div>

<div class="col-m-6 form-group">
    <label class="col-sm-6 col-form-label">Apartment</label>
    <div class="col-sm-6">
        <input type="text" th:field="${clientsAddress.apartment}"
               th:errorclass="'form-control alert-danger'"/>
    </div>
</div>